---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <section>
        <h1><span class="text-gradient">About</span></h1>
            <div class="mb-20" >
                <p class="text-white">about text</p>
            </div>
        </section>
</Layout>

<style>
    section {
    margin: auto;
    padding: 1rem;
    width: 300px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
}
    .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    
}
</style>