---
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
    <main>
        <!-- make this into a re-usable component -->
<Logo />
    <h1><span class="uppercase text-gradient">contact</span></h1>
    <p class="flex justify-center"> form coming soon...</p>
</main>
</Layout>
