---
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
    <main>
        <Logo />
        <h1><span class="uppercase text-gradient">contact</span></h1>
        <div class="form-section">
            <form id="contact-form" class="grid gap-y-6 items-end max-md:grid-cols-1 my-6" no-error-message>
                <label class="text-center" for="name">Your name</label>
                <textarea
                    rows="1"
                    name="name"
                    id="name"
                    class="border border-teal-900 rounded-sm text-sm px-6 py-2 text-black"
                ></textarea>
                <label class="text-center" for="email">Your email address</label>
                <textarea
                    rows="1"
                    name="email"
                    id="email"
                    class="border border-teal-900 rounded-sm text-sm px-6 py-2 text-black"
                ></textarea>
                <label class="text-center" for="message">Tell me about your project</label>
                <textarea
                    rows="3"
                    name="message"
                    id="message"
                    class="border border-teal-900 rounded-sm text-sm px-6 py-2 text-black"
                ></textarea>
                <button
                    type="submit"
                    class="text-xl text-sky-900 bg-emerald-100 px-6 py-3 rounded-sm my-1 font-semibold"
                >
                    Send
                </button>
            </form>
            <div id="thank-you-message" style="display: none;">
                <p>Thank you for your message!</p>
            </div>
        </div>
    </main>
</Layout>

<style>
    .form-section {
        width: 300px;
        max-width: calc(100% - 2rem);
        margin: auto;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById("contact-form");
        if (form) {
            form.addEventListener("submit", async (event) => {
                event.preventDefault();
                const messageElement = document.getElementById("message") as HTMLTextAreaElement;
                if (!messageElement) {
                    console.error("Message textarea not found");
                    return;
                }
                const message = messageElement.value;

                try {
                    console.log("sending..")
                    const response = await fetch("/api/send-email", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ message }),
                    });

                    if (response.ok) {
                        form.style.display = "none";
                        const thankYouMessage = document.getElementById("thank-you-message");
                        if (thankYouMessage) {
                            thankYouMessage.style.display = "block";
                        } else {
                            console.error("Thank you message element not found");
                        }
                    } else {
                        console.error("Failed to send message");
                    }
                } catch (error) {
                    console.error("Error:", error);
                }
            });
        } else {
            console.error("Contact form not found");
        }
    });
</script>