---
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
    <main>
<Logo />
    <h1><span class="uppercase text-gradient">contact</span></h1>
    <div class="form-section flex justify-center">
    <form     class="grid gap-y-6 items-end max-md:grid-cols-1 my-6 "     no-error-message>
        <label class="text-center" for="message">Tell me about your project</label>
        <textarea
        rows="3"
        name="message"
        id="message"
        class="border border-teal-900 rounded-sm text-xl px-6 py-6 text-black"
    />

    <button
        type="submit"
        class="text-xl text-sky-900 bg-emerald-100 px-6 py-3 rounded-sm my-1 font-semibold"
    >
        Send</button
    >
    </form>
</div>
</main>
</Layout>

<style>
    .form-section {
        width: 500px;
        margin: auto;
    }

</style>
