---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Logo from '../components/Logo.astro';
---

<Layout title="Design high">
	<main>
		<Logo />

		<h1><span class="text-gradient">DESIGN HIGH</span></h1>
		<div class="main-body">
		<ul role="list" class="grid md:grid-cols-2 grid-cols-1 gap-10">

			<li class="order-1 md:order-1">
			<Card
				href="/contact"
				title="Design"
				body="your brand beautifully presented... "
			/>
		</li>
		<li class="order-2 md:order-2">text - design</li>
		<li class="order-4 md:order-3">text - build</li>
		<li class="order-3 md:order-4">
			<Card
				href="/contact"
				title="Build"
				body="responsive websites built for performance, reliability and enhanced user experience"
			/>
		</li>

			<li class="order-6 md:order-6">text - optimise</li>
			<li class="order-5 md:order-5">
			<Card
				href="/contact"
				title="Optimise"
				body="make sure your website is seen with search engine optimisation and marketing"
			/>
</li>
		</ul>
	</div>
	</main>
</Layout>

<style>

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}

	.main-body {

		padding: 1.5rem;
		background-image: url("/snowdon.svg")
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 4rem;
		padding: 0;
	}
</style>
